<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>2.中台管理应用功能识别-系统数据与主数据</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>2.&#20013;&#21488;&#31649;&#29702;&#24212;&#29992;&#21151;&#33021;&#35782;&#21035;-&#31995;&#32479;&#25968;&#25454;&#19982;&#20027;&#25968;&#25454;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/65d1aa59-f700-429f-b2c6-605dea6f9c71.png" alt="2.中台管理应用功能识别-系统数据与主数据" usemap="#65d1aa59-f700-429f-b2c6-605dea6f9c71map"/>
			   <map name="65d1aa59-f700-429f-b2c6-605dea6f9c71map">
				          <area shape="rect" coords="387,10,803,90" href="../objects/b4d12e95-c731-44cc-a542-ea11e295e5c4.html" target="element" >
				          <area shape="rect" coords="10,780,143,832" href="../objects/8672bc64-2873-4649-9368-ef08358518ee.html" target="element" >
				          <area shape="rect" coords="23,420,156,472" href="../objects/d6e04c95-81e4-4403-9e03-4d9f40adf0b7.html" target="element" >
				          <area shape="rect" coords="23,268,156,311" href="../objects/6e0042a1-cdc5-4657-bc05-3d011d6d8c7a.html" target="element" >
				          <area shape="rect" coords="23,136,156,179" href="../objects/bc2d6315-ab5c-4788-821f-82c86d2caf66.html" target="element" >
				  		<area shape="rect" coords="887,130,1007,185" href="../elements/bf04395c-07aa-48e3-bec7-cad218525538.html"  target="element">
				  		<area shape="rect" coords="756,130,876,185" href="../elements/6993d970-73ee-48ab-8b9b-7c3d75da7f14.html"  target="element">
				  		<area shape="rect" coords="623,130,743,185" href="../elements/31a607ff-ae0f-4d7b-bacd-fe9e43547fcf.html"  target="element">
				  		<area shape="rect" coords="637,418,792,491" href="../elements/18f5ea27-2885-484c-8cdc-212444555501.html"  target="element">
				  		<area shape="rect" coords="334,130,454,185" href="../elements/ec091b66-deec-4b7e-976d-a58433a5390a.html"  target="element">
				  		<area shape="rect" coords="1404,786,1524,841" href="../elements/c132eb31-96e9-4ef3-a9f5-3e6cc9db9bc7.html"  target="element">
				  		<area shape="rect" coords="1392,726,1512,781" href="../elements/ec630327-4ba6-4493-8c44-feafc7791f64.html"  target="element">
				  		<area shape="rect" coords="623,262,743,317" href="../elements/af401599-c58b-484c-9c59-db13b88a4204.html"  target="element">
				  		<area shape="rect" coords="251,262,371,317" href="../elements/c2ad6df5-65f6-4c42-a41c-8dc0d42cc609.html"  target="element">
				  		<area shape="rect" coords="407,418,576,491" href="../elements/bb185dc3-b20a-4772-ae32-eb51d147de0d.html"  target="element">
				  		<area shape="rect" coords="1330,418,1450,473" href="../elements/1bde537c-7ef0-4525-9551-a9c09d62414c.html"  target="element">
				  		<area shape="rect" coords="1164,418,1284,473" href="../elements/038bd236-f05f-4375-875e-16b2270ec657.html"  target="element">
				  		<area shape="rect" coords="1261,726,1381,781" href="../elements/cff98cd9-3c2e-4d0e-8908-1f02d01187ee.html"  target="element">
				  		<area shape="rect" coords="1127,262,1247,317" href="../elements/69b98a8f-6e68-44e1-8337-43479e1770f8.html"  target="element">
				  		<area shape="rect" coords="443,262,563,317" href="../elements/10163c47-01a7-4303-96e5-4a00cf40bf8f.html"  target="element">
				  		<area shape="rect" coords="239,418,359,473" href="../elements/f114dd21-3d0a-41fa-896e-3b674a56526e.html"  target="element">
				  		<area shape="rect" coords="971,418,1128,479" href="../elements/b6be130b-13c3-4482-a697-8f8f8b68754b.html"  target="element">
				  		<area shape="rect" coords="1197,130,1317,185" href="../elements/d9ce8c66-7105-4d32-985c-57b56bc5f8b4.html"  target="element">
				  		<area shape="rect" coords="683,754,803,809" href="../elements/4f49d0bf-5bcc-430c-863f-5342fd9cbe9d.html"  target="element">
				  		<area shape="rect" coords="370,754,490,809" href="../elements/c8524bae-0175-4184-a708-9c9602f63752.html"  target="element">
				  		<area shape="rect" coords="1261,786,1381,841" href="../elements/548573e7-63f5-4b81-9220-5aff65c7950b.html"  target="element">
				  		<area shape="rect" coords="179,130,299,185" href="../elements/51859db1-ea1e-49c4-b23a-d12d69e7b6fe.html"  target="element">
				  		<area shape="rect" coords="1415,130,1535,185" href="../elements/bcc74262-ea1f-48ea-812f-06970028ea94.html"  target="element">
				  		<area shape="rect" coords="1018,130,1138,185" href="../elements/8d4500b9-79d9-4577-ac1a-e2764b1bd6d5.html"  target="element">
				  		<area shape="rect" coords="479,130,599,185" href="../elements/ea815ae4-3b8f-48dc-ba97-f4da7477a959.html"  target="element">
				  				<area shape="rect" coords="269,637,389,692" href="../elements/c8e1d7ea-e530-45ca-b582-ffcbef54fafa.html"  target="element">
				  				<area shape="rect" coords="150,637,270,692" href="../elements/ae98fcc6-f35d-46be-817e-b9bc3211d8e4.html"  target="element">
				  				<area shape="rect" coords="388,583,508,638" href="../elements/8f224d70-a1a8-46ee-b3bc-12976883a94f.html"  target="element">
				  				<area shape="rect" coords="269,583,389,638" href="../elements/b9b177cc-5a8c-4788-bbb1-96391625d2fe.html"  target="element">
				  				<area shape="rect" coords="150,583,270,638" href="../elements/0bf12577-13b4-4a2a-9a59-4f0606b923c7.html"  target="element">

				  		<area shape="rect" coords="126,535,526,727" href="../elements/db442271-58c0-4a13-bda1-b2e30a73565c.html"  target="element">
				  				<area shape="rect" coords="657,623,777,678" href="../elements/b1c41c53-9bc3-4211-82bd-4e53949b1ab9.html"  target="element">
				  				<area shape="rect" coords="776,623,896,678" href="../elements/99b89f0f-bb9c-4929-a4da-0c674b5b5d49.html"  target="element">
				  				<area shape="rect" coords="895,623,1015,678" href="../elements/d5643bef-74f4-45ef-9288-d82ee232bd26.html"  target="element">
				  				<area shape="rect" coords="1375,569,1495,624" href="../elements/3616b62b-f738-4871-8418-ea25ef13b535.html"  target="element">
				  				<area shape="rect" coords="1256,569,1376,624" href="../elements/dc341068-4e06-4c32-849a-8aeaebdfdd39.html"  target="element">
				  				<area shape="rect" coords="1137,569,1257,624" href="../elements/c1c6241a-a936-4c85-acd9-e9c138985282.html"  target="element">
				  				<area shape="rect" coords="1014,569,1134,624" href="../elements/53dd6589-c909-4cef-a317-29fa61044d4c.html"  target="element">
				  				<area shape="rect" coords="895,569,1015,624" href="../elements/f5236548-faf5-4d5b-a67d-04aaeacf62f3.html"  target="element">
				  				<area shape="rect" coords="776,569,896,624" href="../elements/833c751d-4d3d-44ba-adfa-5f8c205549db.html"  target="element">
				  				<area shape="rect" coords="657,569,777,624" href="../elements/0e28d206-8c3b-400d-8ce0-a2716548121a.html"  target="element">

				  		<area shape="rect" coords="645,545,1512,685" href="../elements/7c976f57-e40a-49ce-93a5-c0d96d37a202.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/7c976f57-e40a-49ce-93a5-c0d96d37a202.html" target="element"> &#31995;&#32479;&#20027;&#25968;&#25454;&#31649;&#29702; </a> </td>
											    <td> <a href="../elements/7c976f57-e40a-49ce-93a5-c0d96d37a202.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/0e28d206-8c3b-400d-8ce0-a2716548121a.html" target="element"> &#38376;&#24215;&#31649;&#29702; </a> </td>
													    <td> <a href="../elements/0e28d206-8c3b-400d-8ce0-a2716548121a.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/833c751d-4d3d-44ba-adfa-5f8c205549db.html" target="element"> &#21830;&#21697;&#36164;&#26009; </a> </td>
													    <td> <a href="../elements/833c751d-4d3d-44ba-adfa-5f8c205549db.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f5236548-faf5-4d5b-a67d-04aaeacf62f3.html" target="element"> &#20379;&#24212;&#21830;&#36164;&#26009;&#31649;&#29702; </a> </td>
													    <td> <a href="../elements/f5236548-faf5-4d5b-a67d-04aaeacf62f3.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/53dd6589-c909-4cef-a317-29fa61044d4c.html" target="element"> &#20250;&#21592;&#36164;&#26009; </a> </td>
													    <td> <a href="../elements/53dd6589-c909-4cef-a317-29fa61044d4c.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c1c6241a-a936-4c85-acd9-e9c138985282.html" target="element"> &#21830;&#21697;&#20215;&#26684; </a> </td>
													    <td> <a href="../elements/c1c6241a-a936-4c85-acd9-e9c138985282.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/dc341068-4e06-4c32-849a-8aeaebdfdd39.html" target="element"> &#24211;&#23384;&#31649;&#29702; </a> </td>
													    <td> <a href="../elements/dc341068-4e06-4c32-849a-8aeaebdfdd39.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3616b62b-f738-4871-8418-ea25ef13b535.html" target="element"> &#23458;&#25143;&#31649;&#29702; </a> </td>
													    <td> <a href="../elements/3616b62b-f738-4871-8418-ea25ef13b535.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d5643bef-74f4-45ef-9288-d82ee232bd26.html" target="element"> &#24211;&#20301;&#31649;&#29702; </a> </td>
													    <td> <a href="../elements/d5643bef-74f4-45ef-9288-d82ee232bd26.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/99b89f0f-bb9c-4929-a4da-0c674b5b5d49.html" target="element"> &#20179;&#24211;&#31649;&#29702; </a> </td>
													    <td> <a href="../elements/99b89f0f-bb9c-4929-a4da-0c674b5b5d49.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b1c41c53-9bc3-4211-82bd-4e53949b1ab9.html" target="element"> &#20844;&#21496;&#31649;&#29702; </a> </td>
													    <td> <a href="../elements/b1c41c53-9bc3-4211-82bd-4e53949b1ab9.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/db442271-58c0-4a13-bda1-b2e30a73565c.html" target="element"> &#31995;&#32479;&#25968;&#25454;&#31649;&#29702; </a> </td>
											    <td> <a href="../elements/db442271-58c0-4a13-bda1-b2e30a73565c.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/0bf12577-13b4-4a2a-9a59-4f0606b923c7.html" target="element"> &#36134;&#21495;&#31649;&#29702; </a> </td>
													    <td> <a href="../elements/0bf12577-13b4-4a2a-9a59-4f0606b923c7.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b9b177cc-5a8c-4788-bbb1-96391625d2fe.html" target="element"> &#21592;&#24037;&#31649;&#29702; </a> </td>
													    <td> <a href="../elements/b9b177cc-5a8c-4788-bbb1-96391625d2fe.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8f224d70-a1a8-46ee-b3bc-12976883a94f.html" target="element"> &#32452;&#32455;&#31649;&#29702; </a> </td>
													    <td> <a href="../elements/8f224d70-a1a8-46ee-b3bc-12976883a94f.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ae98fcc6-f35d-46be-817e-b9bc3211d8e4.html" target="element"> &#33756;&#21333;&#31649;&#29702; </a> </td>
													    <td> <a href="../elements/ae98fcc6-f35d-46be-817e-b9bc3211d8e4.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c8e1d7ea-e530-45ca-b582-ffcbef54fafa.html" target="element"> &#25968;&#25454;&#23383;&#20856;&#31649;&#29702; </a> </td>
													    <td> <a href="../elements/c8e1d7ea-e530-45ca-b582-ffcbef54fafa.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/ea815ae4-3b8f-48dc-ba97-f4da7477a959.html" target="element"> &#20379;&#24212;&#21830;/&#24037;&#21378; </a> </td>
											    <td> <a href="../elements/ea815ae4-3b8f-48dc-ba97-f4da7477a959.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8d4500b9-79d9-4577-ac1a-e2764b1bd6d5.html" target="element"> &#37319;&#36141;&#21592; </a> </td>
											    <td> <a href="../elements/8d4500b9-79d9-4577-ac1a-e2764b1bd6d5.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bcc74262-ea1f-48ea-812f-06970028ea94.html" target="element"> &#20854;&#20182;&#26410;&#32454;&#20998;&#19994;&#21153;&#20154;&#21592; </a> </td>
											    <td> <a href="../elements/bcc74262-ea1f-48ea-812f-06970028ea94.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/51859db1-ea1e-49c4-b23a-d12d69e7b6fe.html" target="element"> &#38376;&#24215;&#23478;&#20855;&#39038;&#38382; </a> </td>
											    <td> <a href="../elements/51859db1-ea1e-49c4-b23a-d12d69e7b6fe.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/548573e7-63f5-4b81-9220-5aff65c7950b.html" target="element"> (&#19977;&#26041;)&#20048;&#34382;&#29289;&#27969; </a> </td>
											    <td> <a href="../elements/548573e7-63f5-4b81-9220-5aff65c7950b.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c8524bae-0175-4184-a708-9c9602f63752.html" target="element"> &#38646;&#21806;&#31995;&#32479; </a> </td>
											    <td> <a href="../elements/c8524bae-0175-4184-a708-9c9602f63752.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4f49d0bf-5bcc-430c-863f-5342fd9cbe9d.html" target="element"> &#20113;&#26102;&#36890;-YST&#20013;&#21488;&#31995;&#32479; </a> </td>
											    <td> <a href="../elements/4f49d0bf-5bcc-430c-863f-5342fd9cbe9d.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d9ce8c66-7105-4d32-985c-57b56bc5f8b4.html" target="element"> &#29992;&#25143;(&#28040;&#36153;&#32773;) </a> </td>
											    <td> <a href="../elements/d9ce8c66-7105-4d32-985c-57b56bc5f8b4.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b6be130b-13c3-4482-a697-8f8f8b68754b.html" target="element"> &#24494;&#20449;-&#21830;&#22478;&#23567;&#31243;&#24207;&#24212;&#29992;(&#38646;&#21806;&#31995;&#32479;) </a> </td>
											    <td> <a href="../elements/b6be130b-13c3-4482-a697-8f8f8b68754b.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f114dd21-3d0a-41fa-896e-3b674a56526e.html" target="element"> POS&#23454;&#20307;&#24215;&#24212;&#29992;(&#38646;&#21806;&#31995;&#32479;) </a> </td>
											    <td> <a href="../elements/f114dd21-3d0a-41fa-896e-3b674a56526e.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10163c47-01a7-4303-96e5-4a00cf40bf8f.html" target="element"> PC&#35774;&#22791;-web&#27983;&#35272;&#22120; </a> </td>
											    <td> <a href="../elements/10163c47-01a7-4303-96e5-4a00cf40bf8f.html" target="element" class="i18n-elementtype-Device"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/69b98a8f-6e68-44e1-8337-43479e1770f8.html" target="element"> &#31227;&#21160;&#35774;&#22791;-&#24494;&#20449;&#23567;&#31243;&#24207; </a> </td>
											    <td> <a href="../elements/69b98a8f-6e68-44e1-8337-43479e1770f8.html" target="element" class="i18n-elementtype-Device"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cff98cd9-3c2e-4d0e-8908-1f02d01187ee.html" target="element"> (&#19977;&#26041;)&#34923;&#24503;&#25903;&#20184; </a> </td>
											    <td> <a href="../elements/cff98cd9-3c2e-4d0e-8908-1f02d01187ee.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/038bd236-f05f-4375-875e-16b2270ec657.html" target="element"> &#24494;&#20449;-&#20250;&#21592;&#23567;&#31243;&#24207;&#24212;&#29992;(&#31995;&#32479;&#24402;&#23646;&#26410;&#23450;) </a> </td>
											    <td> <a href="../elements/038bd236-f05f-4375-875e-16b2270ec657.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1bde537c-7ef0-4525-9551-a9c09d62414c.html" target="element"> &#24494;&#20449;-&#23548;&#36141;&#23567;&#31243;&#24207;&#24212;&#29992;(&#31995;&#32479;&#24402;&#23646;&#26410;&#23450;) </a> </td>
											    <td> <a href="../elements/1bde537c-7ef0-4525-9551-a9c09d62414c.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bb185dc3-b20a-4772-ae32-eb51d147de0d.html" target="element"> &#20013;&#21488;&#31649;&#29702;&#24212;&#29992; (&#20027;&#31995;&#32479;&#26410;&#23450;:&#38646;&#21806;&amp;&#20113;&#26102;&#36890;) </a> </td>
											    <td> <a href="../elements/bb185dc3-b20a-4772-ae32-eb51d147de0d.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c2ad6df5-65f6-4c42-a41c-8dc0d42cc609.html" target="element"> POS&#35774;&#22791; </a> </td>
											    <td> <a href="../elements/c2ad6df5-65f6-4c42-a41c-8dc0d42cc609.html" target="element" class="i18n-elementtype-Device"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/af401599-c58b-484c-9c59-db13b88a4204.html" target="element"> RFID&#35774;&#22791; </a> </td>
											    <td> <a href="../elements/af401599-c58b-484c-9c59-db13b88a4204.html" target="element" class="i18n-elementtype-Device"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ec630327-4ba6-4493-8c44-feafc7791f64.html" target="element"> (&#19977;&#26041;)&#32479;&#24069;ERP </a> </td>
											    <td> <a href="../elements/ec630327-4ba6-4493-8c44-feafc7791f64.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c132eb31-96e9-4ef3-a9f5-3e6cc9db9bc7.html" target="element"> (&#19977;&#26041;)&#37329;&#31246; </a> </td>
											    <td> <a href="../elements/c132eb31-96e9-4ef3-a9f5-3e6cc9db9bc7.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ec091b66-deec-4b7e-976d-a58433a5390a.html" target="element"> &#38376;&#24215;&#31649;&#29702;&#32773; </a> </td>
											    <td> <a href="../elements/ec091b66-deec-4b7e-976d-a58433a5390a.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/18f5ea27-2885-484c-8cdc-212444555501.html" target="element"> &#20379;&#24212;&#21830;&#21327;&#21516;&#38376;&#25143;&#24212;&#29992;((&#31995;&#32479;&#24402;&#23646;&#26410;&#23450;))(&#26159;&#21542;&#29420;&#31435;&#24212;&#29992;?) </a> </td>
											    <td> <a href="../elements/18f5ea27-2885-484c-8cdc-212444555501.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/31a607ff-ae0f-4d7b-bacd-fe9e43547fcf.html" target="element"> &#20179;&#24211;&#20154;&#21592; </a> </td>
											    <td> <a href="../elements/31a607ff-ae0f-4d7b-bacd-fe9e43547fcf.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6993d970-73ee-48ab-8b9b-7c3d75da7f14.html" target="element"> &#36130;&#21153;&#20154;&#21592; </a> </td>
											    <td> <a href="../elements/6993d970-73ee-48ab-8b9b-7c3d75da7f14.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bf04395c-07aa-48e3-bec7-cad218525538.html" target="element"> &#24635;&#37096;&#31649;&#29702; </a> </td>
											    <td> <a href="../elements/bf04395c-07aa-48e3-bec7-cad218525538.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/bc2d6315-ab5c-4788-821f-82c86d2caf66.html" target="element">  </a> </td>
									           <td> <a href="../objects/bc2d6315-ab5c-4788-821f-82c86d2caf66.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/6e0042a1-cdc5-4657-bc05-3d011d6d8c7a.html" target="element">  </a> </td>
									           <td> <a href="../objects/6e0042a1-cdc5-4657-bc05-3d011d6d8c7a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/d6e04c95-81e4-4403-9e03-4d9f40adf0b7.html" target="element">  </a> </td>
									           <td> <a href="../objects/d6e04c95-81e4-4403-9e03-4d9f40adf0b7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/8672bc64-2873-4649-9368-ef08358518ee.html" target="element">  </a> </td>
									           <td> <a href="../objects/8672bc64-2873-4649-9368-ef08358518ee.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/b4d12e95-c731-44cc-a542-ea11e295e5c4.html" target="element">  </a> </td>
									           <td> <a href="../objects/b4d12e95-c731-44cc-a542-ea11e295e5c4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/04d8db57-2505-481e-b229-9f187d4bff8a.html" target="element">  </a> </td>
																		<td> <a href="../elements/04d8db57-2505-481e-b229-9f187d4bff8a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7c976f57-e40a-49ce-93a5-c0d96d37a202.html" target="element"> &#31995;&#32479;&#20027;&#25968;&#25454;&#31649;&#29702; </a> </td>
																		<td> <a href="../elements/0e28d206-8c3b-400d-8ce0-a2716548121a.html" target="element"> &#38376;&#24215;&#31649;&#29702; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/69791d8a-9f0a-4b2b-8821-ca328d1560f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/69791d8a-9f0a-4b2b-8821-ca328d1560f6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7c976f57-e40a-49ce-93a5-c0d96d37a202.html" target="element"> &#31995;&#32479;&#20027;&#25968;&#25454;&#31649;&#29702; </a> </td>
																		<td> <a href="../elements/833c751d-4d3d-44ba-adfa-5f8c205549db.html" target="element"> &#21830;&#21697;&#36164;&#26009; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d02e4f50-cc9f-4240-b572-d8014f1f0af6.html" target="element">  </a> </td>
																		<td> <a href="../elements/d02e4f50-cc9f-4240-b572-d8014f1f0af6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7c976f57-e40a-49ce-93a5-c0d96d37a202.html" target="element"> &#31995;&#32479;&#20027;&#25968;&#25454;&#31649;&#29702; </a> </td>
																		<td> <a href="../elements/f5236548-faf5-4d5b-a67d-04aaeacf62f3.html" target="element"> &#20379;&#24212;&#21830;&#36164;&#26009;&#31649;&#29702; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/211bf76f-469f-4f3d-8019-61bb2c0fda85.html" target="element">  </a> </td>
																		<td> <a href="../elements/211bf76f-469f-4f3d-8019-61bb2c0fda85.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7c976f57-e40a-49ce-93a5-c0d96d37a202.html" target="element"> &#31995;&#32479;&#20027;&#25968;&#25454;&#31649;&#29702; </a> </td>
																		<td> <a href="../elements/53dd6589-c909-4cef-a317-29fa61044d4c.html" target="element"> &#20250;&#21592;&#36164;&#26009; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e5adb3ec-8085-426f-8c12-30bc43a11c4a.html" target="element">  </a> </td>
																		<td> <a href="../elements/e5adb3ec-8085-426f-8c12-30bc43a11c4a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7c976f57-e40a-49ce-93a5-c0d96d37a202.html" target="element"> &#31995;&#32479;&#20027;&#25968;&#25454;&#31649;&#29702; </a> </td>
																		<td> <a href="../elements/c1c6241a-a936-4c85-acd9-e9c138985282.html" target="element"> &#21830;&#21697;&#20215;&#26684; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/43048603-55e1-46c6-bcae-ec12ef082e54.html" target="element">  </a> </td>
																		<td> <a href="../elements/43048603-55e1-46c6-bcae-ec12ef082e54.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7c976f57-e40a-49ce-93a5-c0d96d37a202.html" target="element"> &#31995;&#32479;&#20027;&#25968;&#25454;&#31649;&#29702; </a> </td>
																		<td> <a href="../elements/dc341068-4e06-4c32-849a-8aeaebdfdd39.html" target="element"> &#24211;&#23384;&#31649;&#29702; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/039c101f-e729-473c-934e-69a8d91483db.html" target="element">  </a> </td>
																		<td> <a href="../elements/039c101f-e729-473c-934e-69a8d91483db.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7c976f57-e40a-49ce-93a5-c0d96d37a202.html" target="element"> &#31995;&#32479;&#20027;&#25968;&#25454;&#31649;&#29702; </a> </td>
																		<td> <a href="../elements/3616b62b-f738-4871-8418-ea25ef13b535.html" target="element"> &#23458;&#25143;&#31649;&#29702; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/98259bda-0788-4c07-912e-5d75329fc4d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/98259bda-0788-4c07-912e-5d75329fc4d6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7c976f57-e40a-49ce-93a5-c0d96d37a202.html" target="element"> &#31995;&#32479;&#20027;&#25968;&#25454;&#31649;&#29702; </a> </td>
																		<td> <a href="../elements/d5643bef-74f4-45ef-9288-d82ee232bd26.html" target="element"> &#24211;&#20301;&#31649;&#29702; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/51ac76dc-1370-49b1-8faa-81228e9222e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/51ac76dc-1370-49b1-8faa-81228e9222e5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7c976f57-e40a-49ce-93a5-c0d96d37a202.html" target="element"> &#31995;&#32479;&#20027;&#25968;&#25454;&#31649;&#29702; </a> </td>
																		<td> <a href="../elements/99b89f0f-bb9c-4929-a4da-0c674b5b5d49.html" target="element"> &#20179;&#24211;&#31649;&#29702; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dca56d41-3315-42b5-bd8d-d9c2e01898ac.html" target="element">  </a> </td>
																		<td> <a href="../elements/dca56d41-3315-42b5-bd8d-d9c2e01898ac.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7c976f57-e40a-49ce-93a5-c0d96d37a202.html" target="element"> &#31995;&#32479;&#20027;&#25968;&#25454;&#31649;&#29702; </a> </td>
																		<td> <a href="../elements/b1c41c53-9bc3-4211-82bd-4e53949b1ab9.html" target="element"> &#20844;&#21496;&#31649;&#29702; </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/0157eb9f-f033-47ba-9a20-7bc219b2d5a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/0157eb9f-f033-47ba-9a20-7bc219b2d5a0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db442271-58c0-4a13-bda1-b2e30a73565c.html" target="element"> &#31995;&#32479;&#25968;&#25454;&#31649;&#29702; </a> </td>
																		<td> <a href="../elements/0bf12577-13b4-4a2a-9a59-4f0606b923c7.html" target="element"> &#36134;&#21495;&#31649;&#29702; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/efd292bc-e26a-48f3-a8ba-4f9324de50ac.html" target="element">  </a> </td>
																		<td> <a href="../elements/efd292bc-e26a-48f3-a8ba-4f9324de50ac.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db442271-58c0-4a13-bda1-b2e30a73565c.html" target="element"> &#31995;&#32479;&#25968;&#25454;&#31649;&#29702; </a> </td>
																		<td> <a href="../elements/b9b177cc-5a8c-4788-bbb1-96391625d2fe.html" target="element"> &#21592;&#24037;&#31649;&#29702; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b2786502-3a42-4a51-b3d3-7800a8261654.html" target="element">  </a> </td>
																		<td> <a href="../elements/b2786502-3a42-4a51-b3d3-7800a8261654.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db442271-58c0-4a13-bda1-b2e30a73565c.html" target="element"> &#31995;&#32479;&#25968;&#25454;&#31649;&#29702; </a> </td>
																		<td> <a href="../elements/8f224d70-a1a8-46ee-b3bc-12976883a94f.html" target="element"> &#32452;&#32455;&#31649;&#29702; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9d366598-edc2-4ac0-a584-6a961bebe6b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/9d366598-edc2-4ac0-a584-6a961bebe6b4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db442271-58c0-4a13-bda1-b2e30a73565c.html" target="element"> &#31995;&#32479;&#25968;&#25454;&#31649;&#29702; </a> </td>
																		<td> <a href="../elements/ae98fcc6-f35d-46be-817e-b9bc3211d8e4.html" target="element"> &#33756;&#21333;&#31649;&#29702; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e0976761-e5ff-494e-bd1c-8006d2fbb3bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/e0976761-e5ff-494e-bd1c-8006d2fbb3bd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db442271-58c0-4a13-bda1-b2e30a73565c.html" target="element"> &#31995;&#32479;&#25968;&#25454;&#31649;&#29702; </a> </td>
																		<td> <a href="../elements/c8e1d7ea-e530-45ca-b582-ffcbef54fafa.html" target="element"> &#25968;&#25454;&#23383;&#20856;&#31649;&#29702; </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/5347f5f7-a834-4c3e-beff-53a1281ee7f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/5347f5f7-a834-4c3e-beff-53a1281ee7f8.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/ea815ae4-3b8f-48dc-ba97-f4da7477a959.html" target="element"> &#20379;&#24212;&#21830;/&#24037;&#21378; </a> </td>
																		<td> <a href="../elements/10163c47-01a7-4303-96e5-4a00cf40bf8f.html" target="element"> PC&#35774;&#22791;-web&#27983;&#35272;&#22120; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a0cf437f-4732-435e-abac-52b982b190ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/a0cf437f-4732-435e-abac-52b982b190ea.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/8d4500b9-79d9-4577-ac1a-e2764b1bd6d5.html" target="element"> &#37319;&#36141;&#21592; </a> </td>
																		<td> <a href="../elements/10163c47-01a7-4303-96e5-4a00cf40bf8f.html" target="element"> PC&#35774;&#22791;-web&#27983;&#35272;&#22120; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3376d518-d88c-48e6-be9f-19932bc80757.html" target="element">  </a> </td>
																		<td> <a href="../elements/3376d518-d88c-48e6-be9f-19932bc80757.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/51859db1-ea1e-49c4-b23a-d12d69e7b6fe.html" target="element"> &#38376;&#24215;&#23478;&#20855;&#39038;&#38382; </a> </td>
																		<td> <a href="../elements/c2ad6df5-65f6-4c42-a41c-8dc0d42cc609.html" target="element"> POS&#35774;&#22791; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4cd95b89-76f8-4106-b633-828de0a0c8e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/4cd95b89-76f8-4106-b633-828de0a0c8e5.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/51859db1-ea1e-49c4-b23a-d12d69e7b6fe.html" target="element"> &#38376;&#24215;&#23478;&#20855;&#39038;&#38382; </a> </td>
																		<td> <a href="../elements/69b98a8f-6e68-44e1-8337-43479e1770f8.html" target="element"> &#31227;&#21160;&#35774;&#22791;-&#24494;&#20449;&#23567;&#31243;&#24207; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ba078b46-4cbc-436c-934e-31f8e25e4a3a.html" target="element">  </a> </td>
																		<td> <a href="../elements/ba078b46-4cbc-436c-934e-31f8e25e4a3a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/d9ce8c66-7105-4d32-985c-57b56bc5f8b4.html" target="element"> &#29992;&#25143;(&#28040;&#36153;&#32773;) </a> </td>
																		<td> <a href="../elements/69b98a8f-6e68-44e1-8337-43479e1770f8.html" target="element"> &#31227;&#21160;&#35774;&#22791;-&#24494;&#20449;&#23567;&#31243;&#24207; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3f912ba3-72d6-4eb6-8d26-7d3802bc9a1a.html" target="element"> &#38376;&#24215;&#31649;&#29702;/&#20379;&#24212;&#21830;?/&#20179;&#24211;&#20154;&#21592;/&#36130;&#21153;&#20154;&#21592;/&#37319;&#36141;&#20154;&#21592;/&#24635;&#37096;&#31649;&#29702; </a> </td>
																		<td> <a href="../elements/3f912ba3-72d6-4eb6-8d26-7d3802bc9a1a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/10163c47-01a7-4303-96e5-4a00cf40bf8f.html" target="element"> PC&#35774;&#22791;-web&#27983;&#35272;&#22120; </a> </td>
																		<td> <a href="../elements/bb185dc3-b20a-4772-ae32-eb51d147de0d.html" target="element"> &#20013;&#21488;&#31649;&#29702;&#24212;&#29992; (&#20027;&#31995;&#32479;&#26410;&#23450;:&#38646;&#21806;&amp;&#20113;&#26102;&#36890;) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7aa270d2-2a6f-4869-9570-d0467d5dc274.html" target="element"> &#20379;&#24212;&#21830;/&#24037;&#21378; </a> </td>
																		<td> <a href="../elements/7aa270d2-2a6f-4869-9570-d0467d5dc274.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/10163c47-01a7-4303-96e5-4a00cf40bf8f.html" target="element"> PC&#35774;&#22791;-web&#27983;&#35272;&#22120; </a> </td>
																		<td> <a href="../elements/18f5ea27-2885-484c-8cdc-212444555501.html" target="element"> &#20379;&#24212;&#21830;&#21327;&#21516;&#38376;&#25143;&#24212;&#29992;((&#31995;&#32479;&#24402;&#23646;&#26410;&#23450;))(&#26159;&#21542;&#29420;&#31435;&#24212;&#29992;?) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5c53d0eb-1801-46d3-8b63-3f3bc545198f.html" target="element"> &#29992;&#25143; </a> </td>
																		<td> <a href="../elements/5c53d0eb-1801-46d3-8b63-3f3bc545198f.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/69b98a8f-6e68-44e1-8337-43479e1770f8.html" target="element"> &#31227;&#21160;&#35774;&#22791;-&#24494;&#20449;&#23567;&#31243;&#24207; </a> </td>
																		<td> <a href="../elements/b6be130b-13c3-4482-a697-8f8f8b68754b.html" target="element"> &#24494;&#20449;-&#21830;&#22478;&#23567;&#31243;&#24207;&#24212;&#29992;(&#38646;&#21806;&#31995;&#32479;) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/87d443ad-ee02-486f-9226-509a96d2b915.html" target="element"> &#29992;&#25143; </a> </td>
																		<td> <a href="../elements/87d443ad-ee02-486f-9226-509a96d2b915.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/69b98a8f-6e68-44e1-8337-43479e1770f8.html" target="element"> &#31227;&#21160;&#35774;&#22791;-&#24494;&#20449;&#23567;&#31243;&#24207; </a> </td>
																		<td> <a href="../elements/038bd236-f05f-4375-875e-16b2270ec657.html" target="element"> &#24494;&#20449;-&#20250;&#21592;&#23567;&#31243;&#24207;&#24212;&#29992;(&#31995;&#32479;&#24402;&#23646;&#26410;&#23450;) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/360c259e-5e27-49cb-bdee-011d8b6f3534.html" target="element"> &#29992;&#25143;/&#38376;&#24215;&#39038;&#38382; </a> </td>
																		<td> <a href="../elements/360c259e-5e27-49cb-bdee-011d8b6f3534.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/69b98a8f-6e68-44e1-8337-43479e1770f8.html" target="element"> &#31227;&#21160;&#35774;&#22791;-&#24494;&#20449;&#23567;&#31243;&#24207; </a> </td>
																		<td> <a href="../elements/1bde537c-7ef0-4525-9551-a9c09d62414c.html" target="element"> &#24494;&#20449;-&#23548;&#36141;&#23567;&#31243;&#24207;&#24212;&#29992;(&#31995;&#32479;&#24402;&#23646;&#26410;&#23450;) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0698dc4d-9df6-4bd2-828a-a59fa1e83e60.html" target="element">  </a> </td>
																		<td> <a href="../elements/0698dc4d-9df6-4bd2-828a-a59fa1e83e60.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/bb185dc3-b20a-4772-ae32-eb51d147de0d.html" target="element"> &#20013;&#21488;&#31649;&#29702;&#24212;&#29992; (&#20027;&#31995;&#32479;&#26410;&#23450;:&#38646;&#21806;&amp;&#20113;&#26102;&#36890;) </a> </td>
																		<td> <a href="../elements/db442271-58c0-4a13-bda1-b2e30a73565c.html" target="element"> &#31995;&#32479;&#25968;&#25454;&#31649;&#29702; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5969435d-8a31-4232-9809-560da364185d.html" target="element">  </a> </td>
																		<td> <a href="../elements/5969435d-8a31-4232-9809-560da364185d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/bb185dc3-b20a-4772-ae32-eb51d147de0d.html" target="element"> &#20013;&#21488;&#31649;&#29702;&#24212;&#29992; (&#20027;&#31995;&#32479;&#26410;&#23450;:&#38646;&#21806;&amp;&#20113;&#26102;&#36890;) </a> </td>
																		<td> <a href="../elements/7c976f57-e40a-49ce-93a5-c0d96d37a202.html" target="element"> &#31995;&#32479;&#20027;&#25968;&#25454;&#31649;&#29702; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1a17d7f3-a742-4716-87d5-a444cee5bb02.html" target="element"> &#38376;&#24215;&#39038;&#38382; </a> </td>
																		<td> <a href="../elements/1a17d7f3-a742-4716-87d5-a444cee5bb02.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/c2ad6df5-65f6-4c42-a41c-8dc0d42cc609.html" target="element"> POS&#35774;&#22791; </a> </td>
																		<td> <a href="../elements/f114dd21-3d0a-41fa-896e-3b674a56526e.html" target="element"> POS&#23454;&#20307;&#24215;&#24212;&#29992;(&#38646;&#21806;&#31995;&#32479;) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c2bce1ea-757a-4108-98cf-35cb1a704864.html" target="element">  </a> </td>
																		<td> <a href="../elements/c2bce1ea-757a-4108-98cf-35cb1a704864.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/ec091b66-deec-4b7e-976d-a58433a5390a.html" target="element"> &#38376;&#24215;&#31649;&#29702;&#32773; </a> </td>
																		<td> <a href="../elements/10163c47-01a7-4303-96e5-4a00cf40bf8f.html" target="element"> PC&#35774;&#22791;-web&#27983;&#35272;&#22120; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6556f104-e8c0-4255-95a3-3f8ea060ff63.html" target="element">  </a> </td>
																		<td> <a href="../elements/6556f104-e8c0-4255-95a3-3f8ea060ff63.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/31a607ff-ae0f-4d7b-bacd-fe9e43547fcf.html" target="element"> &#20179;&#24211;&#20154;&#21592; </a> </td>
																		<td> <a href="../elements/10163c47-01a7-4303-96e5-4a00cf40bf8f.html" target="element"> PC&#35774;&#22791;-web&#27983;&#35272;&#22120; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/48f96668-ab7a-492f-bcab-545366807ff7.html" target="element">  </a> </td>
																		<td> <a href="../elements/48f96668-ab7a-492f-bcab-545366807ff7.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/31a607ff-ae0f-4d7b-bacd-fe9e43547fcf.html" target="element"> &#20179;&#24211;&#20154;&#21592; </a> </td>
																		<td> <a href="../elements/af401599-c58b-484c-9c59-db13b88a4204.html" target="element"> RFID&#35774;&#22791; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/105f4911-56f7-4daa-aad9-6d647e00a902.html" target="element">  </a> </td>
																		<td> <a href="../elements/105f4911-56f7-4daa-aad9-6d647e00a902.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/6993d970-73ee-48ab-8b9b-7c3d75da7f14.html" target="element"> &#36130;&#21153;&#20154;&#21592; </a> </td>
																		<td> <a href="../elements/10163c47-01a7-4303-96e5-4a00cf40bf8f.html" target="element"> PC&#35774;&#22791;-web&#27983;&#35272;&#22120; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ece75f7c-26bf-4fd0-8072-dd8d107b4554.html" target="element">  </a> </td>
																		<td> <a href="../elements/ece75f7c-26bf-4fd0-8072-dd8d107b4554.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/bf04395c-07aa-48e3-bec7-cad218525538.html" target="element"> &#24635;&#37096;&#31649;&#29702; </a> </td>
																		<td> <a href="../elements/10163c47-01a7-4303-96e5-4a00cf40bf8f.html" target="element"> PC&#35774;&#22791;-web&#27983;&#35272;&#22120; </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>